.orange{
    background-color: orange;
}
.purple {
    background-color: purple;
}
.tomato{
    background-color: tomato;
}
.yellow{
    background-color: yellow;
}
.bold{
    font-weight: 900;
}